/* Space out content a bit */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;

  src: url('ArchitectsDaughter.ttf');
  src: url('ArchitectsDaughter.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: 'Architects Daughter';
}

input {
	font-size: 22px;	
	width:300px;
}

.user_name, .chat_box {
	border-bottom:#ccc 1px solid; 	
	width:300px;
}

#user_name,#chat_box {
	border: none;
	outline: none;
	text-align: center;
	width:300px;
	font-size: 22px;

}
li{
	list-style: none;
}